body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 20%;
    margin: 1rem;
}

.greenBtn {
    background-color: green;
}

.redBtn {
    background-color: red;
}

.yellowBtn {
    background-color: yellow;
}

.blueBtn {
    background-color: blue;
}

.flash {
    background-color: white;
}